<section class="about-section" id="sobre">
    <div class="about-content-wrapper">
        <h2 class="about-title">Sobre Mim</h2>
        
        <div class="about-main-text-centered">
            <p>Tenho 26 anos, estou atualmente cursando bacharelado em Engenharia de Software pela UFRN. Sou técnico em informática pelo IFRN e graduado em Tecnologia da Informação pela UFRN.</p>
            
            <p>Como Desenvolvedor Full-Stack, sou movido pelo desejo de <span class="highlight">sempre evoluir minhas habilidades e a qualidade do meu trabalho</span>. Encontro satisfação tanto em arquitetar novos projetos com tecnologias modernas como Angular e Spring Boot, quanto em garantir a longevidade e a manutenibilidade de sistemas já existentes. Acredito que o aprendizado contínuo é o alicerce para a excelência em software.</p>
        </div>
    </div>
</section>