<footer class="main-footer" id="contato">
    <div class="footer-content-wrapper">
        
        <div class="social-links">
            <a href="https://github.com/Janetoerick" target="_blank" aria-label="GitHub">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/janeto-erick-a9871024a/" target="_blank" aria-label="LinkedIn" class="contact-icon">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
        
        <p class="contact-info">
            Janeto Erick • <a href="mailto:janetoerick18@gmail.com">janetoerick18&#64;gmail.com</a>
        </p>

        <div class="copyright">
            Desenvolvido por Janeto Erick | © {{ currentYear }}
        </div>

    </div>
</footer>