<section class="projects-container">
  <h2 class="section-title">Projetos</h2>
  <div class="projects-grid">
    <div class="project-card" *ngFor="let project of projects">
      
      <div class="tech-top-right">
        <i *ngFor="let tech of project.technologies | slice:0:3" [class]="tech.icon"></i>
      </div>

      <h3>{{ project.name }}</h3>
      <p class="description">{{ project.description }}</p>

      <div class="hover-content">
        <a [href]="project.github" target="_blank" class="github-link">Ver repositório completo →</a>
      </div>
    </div>
  </div>
</section>