<section class="projects-container">
  <h2 class="section-title">Projetos</h2>
  <div class="projects-grid">
    <div class="project-card" *ngFor="let project of projects">
      
      <div class="docker-badge" *ngIf="project.hasDocker">
        <i class="devicon-docker-plain" title="Este projeto utiliza Docker"></i>
      </div>

      <div class="card-header-body">
        <h3>{{ project.name }}</h3>
        <p class="description">{{ project.description }}</p>
      </div>

      <div class="card-overlay-top" *ngIf="project.features?.length">
        <h4 class="overlay-title">Recursos Chave</h4>
        <ul class="overlay-features-list">
          <li *ngFor="let feature of project.features" class="overlay-feature-item">
            {{ feature }}
          </li>
        </ul>
      </div>

      <div class="card-footer">
        <div class="tech-container">
          <div class="tech-visible">
            <i *ngFor="let tech of project.technologies | slice:0:2" [class]="tech.icon" [title]="tech.name"></i>
          </div>
          <div class="tech-hidden-flow">
            <i *ngFor="let tech of project.technologies | slice:2" [class]="tech.icon" [title]="tech.name"></i>
          </div>
        </div>
        <a [href]="project.github" class="github-link" target="_blank">Ver no GitHub →</a>
      </div>

    </div>
  </div>
</section>