<section class="skills-section" id="habilidades">
    <div class="skills-content-wrapper">
        <h3 class="skills-grid-title">Minhas <span class="highlight-title">Especialidades</span></h3>
        
        <div class="about-skills-grid">
            <div class="skill-category-card">
                <i class="fas fa-desktop icon-skill"></i>
                <h4>Front-End</h4>
                <p>Angular, TypeScript, React Native</p>
            </div>

            <div class="skill-category-card">
                <i class="fas fa-server icon-skill"></i>
                <h4>Back-End</h4>
                <p>Spring Boot, Java, REST APIs</p>
            </div>

            <div class="skill-category-card">
                <i class="fas fa-lightbulb icon-skill"></i>
                <h4>Soft Skills</h4>
                <p>Resolução de Problemas, Comunicação, Aprendizado Contínuo</p>
            </div>
        </div>
    </div>
</section>