<main>
    <section class="hero">
      <div class="hero-inner">
          <div class="content">
            <h2>Olá, eu sou</h2>
            <h1>Janeto Erick</h1>
            <p>Desenvolvedor Full-Stack</p>
            <div class="buttons">
              <a href="#" class="btn purple">Download CV</a>
              <a href="#" class="btn outline">Entrar em contato</a>
            </div>
          </div>
          <div class="profile-img">
            <img src="assets/images/foto1.jpg" alt="Janeto Erick"/>
          </div>
      </div>
      
    </section>

    <section class="about">
      <h3>Sobre mim</h3>
      <p>
        Tenho 25 anos, estou atualmente cursando bacharelado em Engenharia de Software pela UFRN.
        Sou técnico em informática pelo IFRN e graduado em Tecnologia da Informação pela UFRN. 
        Estou atualmente em busca de adquirir experiência para atuar como desenvolvedor Full-Stack focando nas tecnologias Spring Boot e Angular.
      </p>
    </section>
  </main>