
<section class="hero">
  <div class="hero-inner">
      <div class="content">
        <h2>Olá, eu sou</h2>
        <h1>Janeto Erick</h1>
        <p>Desenvolvedor Full-Stack</p>
        <div class="buttons">
          <a href="assets/documents/curriculo.pdf" download="Curriculo_Janeto_Erick" class="btn purple">Download CV</a>
          <button (click)="openContact()" class="btn outline">Entrar em Contato</button>
        </div>
      </div>
      <div class="profile-image-wrapper">
        <img src="assets/images/foto1.jpg" alt="Janeto Erick"/>
        <div class="overlay-fusion"></div>
      </div>
  </div>
</section>